/* NAV **********************/

#logo span,
.parallax-container h1 span {
  position: absolute;
  left: -3000px;
}

nav {
  z-index: 10;
}

.nav-trans {
  background-color: rgba(0, 150, 136, .7);
}

.dropdown-content {
  min-width: 150px !important;
}

/* HEADER **********************/

.header {
  font-weight: 300;
}

.parallax-top {
  height: 100vh;
}

.difumina {
  background-color: rgba(178, 223, 219, .5);
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  /* IE 9 */
  -webkit-transform: translateX(-50%);
  /* Chrome, Safari, Opera */
  transform: translateX(-50%);
}

/*BODY **********************/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

noscript {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: teal;
  color: white;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-weight: 400;
}

footer .collapsible-body p:nth-child(odd) {
  padding: .5rem;
}

footer .collapsible-body p:nth-child(even) {
  font-size: 1.2rem;
  padding-left: 2rem;
}

#bienvenida h1,
#ver h1 {
  text-shadow: 0px 3px 6px black;
}

.emoji {
  height: 2rem !important;
  margin: 0 0 0 .7rem !important;
  background: none !important;
  padding: 0 !important;
}

/*CATALOGO **********************/

.espaciado-top {
  padding-top: 6rem !important;
}

.contenido {
  height: 100%;
}

.contenido-catalogo {
  /* padding-top: 16rem !important;  */
}

.contenido-admin-usuarios {
  padding-top: 5rem !important;
}

.contenido-admin-pedidos {
  padding-top: 5rem !important;
}

.table-of-contents a:hover {
  border-left: 1px solid grey;
}

.table-of-contents a.active {
  border-left: 2px solid teal;
}

/* TARJETAS **********************/

.card-title {
  bottom: 10px !important;
}

.card a:hover {
  color: teal !important;
  /*font-weight: bold;*/
}

.card a {
  color: grey;
  text-decoration: underline;
}

.card-reveal {
  background-color: rgba(45, 45, 45, .8) !important;
  text-align: center;
  overflow: hidden;
}

.card-reveal h2 {
  padding-top: 40px !important;
}

.card-reveal span:hover {
  cursor: auto;
}

.halfway-fab-catalogo {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.halfway-fab-obra {
  position: absolute;
  right: 10px;
  top: -20px;
}

#miniatura {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  max-width: 150px;
}

.vendida-catalogo {
  top: 10px;
  right: 10px;
  z-index: 1;
  position: absolute;
}

.pagination li.active {
  background-color: teal !important;
}

.text-danger {
  position: relative;
  top: -20px;
  font-size: 90%;
  color: red;
}

/* VER OBRA **********************/

.datos-obra {
  position: relative;
}

#vendida-obra {
  margin-left: 0;
}

.titulo-obra {
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #bdbdbd;
}

.modal-content .chip {
  /*height: 6rem;*/
  margin-left: 20px
}

.modal-content .chip img {
  height: 5rem;
  width: 5rem;
  position: relative;
  left: -20px;
}

.modal-content .chip a {
  font-size: 1.3rem;
  color: #009688;
}

/* CARRITO **********************/

.carrito img {
  height: 50px;
}

/* ADMIN. PEDIDOS **********************/

#tbodyDetalle img {
  height: 50px;
}

/* ADMIN. OBRAS **********************/

#tbodyObras img {
  height: 50px;
}

.vendida {
  float: left !important;
  margin-left: 0px !important;
}

/* CONTACTO **********************/
.card-image img{
  position: absolute;
  transform: scale(2);
}

.icon{
  font-size: 1.5rem;
}

.collection a{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none !important;
  color: grey !important;
}
.collection a:hover .icon{
  color: teal !important;

}